extends layout

block content
	h1 Stock Exchange Client
	p Welcome to a simple example client for the Linux based Stock Exchange.
	div(class="container-fluid")
		div(class="row")
			div(class="graph" id="graph")
		form(id="tradeForm")
			div(class="row")
				div(class="col")
					label Price
					input(type="number" step="0.01" class="form-control" id="tradePrice")
				div(class="col")
					label Quantity
					input(type="number" step="1" class="form-control" id="tradeQuantity")
			div(class="row row-top-buffer")
				div(class="col")
					button(type="button" class="btn btn-danger btn-block" onclick="apiBuy()") Buy Offer
				div(class="col")
					button(type="button" class="btn btn-danger btn-block" onclick="apiSell()") Sell Offer
				div(class="col")
					button(type="button" class="btn btn-info btn-block" onclick="apiTest()") Test

	script.
		function draw() {
			let graph = document.getElementById('graph');
			Plotly.plot( graph,
				[{
					x: ['2017-01-04', '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08'],
					open: [1, 2, 2.7, 4.5, 7],
					close: [1.6, 2.4, 4, 4.1, 3],
					high: [2.1, 2, 4, 5, 11],
					low: [0.4, 2, 4, 3.2, 1.1],
					increasing: {line: {color: '#2d7fc6'}},
					decreasing: {line: {color: '#ef4545'}},
					type: 'ohlc'
				}],
				{
					margin: {
						r: 0,
						t: 0,
						b: 0,
						l: 0
					},
					showlegend: false
				}
			);
		}
		//draw();

		function apiTest() {
			console.log("Test");
			fetch("http://localhost:5000/api/data/commodities/test/15").then(function(response) {
				response.text().then(function(data) {

					let values = JSON.parse(data);
					values.increasing = {line: {color: '#2d7fc6'}};
					values.decreasing = {line: {color: '#ef4545'}};
					values.type = 'ohlc';

					console.log(values);

					let graph = document.getElementById('graph');
					Plotly.plot( graph,
						[values],
						{
							margin: {
								r: 30,
								t: 10,
								b: 10,
								l: 30
							},
							showlegend: false
						}
					);
				});
			});
		}
		function apiBuy() {
			console.log("Buying");
			let price = $('#tradePrice').val();
			let qty = $('#tradeQuantity').val();
			fetch("http://localhost:5000/api/buy/1/" + price + "/" + qty).then(function(response) {
				response.text().then(function(data) {
					console.log(data);
				});
			});
		}
		function apiSell() {
			console.log("Selling");
			let price = $('#tradePrice').val();
			let qty = $('#tradeQuantity').val();
			fetch("http://localhost:5000/api/sell/1/" + price + "/" + qty).then(function(response) {
				response.text().then(function(data) {
					console.log(data);
				});
			});
		}
