extends layout

block content
	div(class="container" style="max-width: 30rem;")
		div(class="row row-top-buffer")
			div(class="col")
				h2 Log In
		form(id="loginForm")
			div(class="row row-top-buffer")
				div(class="col")
					label Username
					input(type="text" class="form-control" placeholder="username" id="loginUsername")
			div(class="row row-top-buffer")
				div(class="col")
					label Password
					input(type="password" class="form-control" placeholder="password" id="loginPassword")
			div(class="row row-top-buffer")
				div(class="col")
					button(type="button" class="btn btn-primary btn-block" onclick="apiLogin()") Log In

	script.
		function apiLogin() {
			let username = $('#loginUsername').val();
			let password = $('#loginPassword').val();
			localStorage.clear();
			fetch("http://stockexchange.ml:59999/api/individuals/login", {
				headers: {
			      'Content-Type': 'application/json'
			  },
				method: 'POST',
				mode: 'no-cors',
				body: JSON.stringify({
					username: username,
					password: password
				})
			}).then(function(response) {
				response.text().then(function(data) {
					console.log(data);
					if(data == null)
						return;

					data = JSON.parse(data);

					localStorage.setItem("userToken", data.token);
					localStorage.setItem("userId", data.userId);
					window.location = "http://stockexchange.ml:60000/";
				});
			});
		}
